@font-face {
  font-family: "Bebas Neue";
  src: url(https://s3-us-west-2.amazonaws.com/ditto-tatt/assets/big_noodle_titling_oblique.ttf) format("truetype");
}
body { font-family: 'The Rumor', sans-serif; }
body { background-image:url("https://s3-us-west-2.amazonaws.com/ditto-march-15-2019/assets/web_BG.jpg");
}
body {
display: flex;
background-position: center;
background-size: 125%;
}
div#win {
flex: none;
color: white;
text-shadow:
-3px -3px 0 #000,
3px -3px 0 #000,
-3px 3px 0 #000,
3px 3px 0 #000;
}
#win{
  float: right;
  padding-left: 2%;
  display: flex;           /* establish flex container */
  flex-direction: column;  /* make main axis vertical */
  align-items: center;
  padding-top: 25%;
}
div {
  font-size:2.5vw;
  color: white;
}
#logo {
max-width: 40%;
}
#main-image {
border-radius: 25px;
padding-left: 40%;
}
#tatt-img {
border-radius: 25px;
max-width: 85%;
margin-left: 20%;
margin-top: 15%;
margin-right: 2%;

}
#logo-img {
padding-left: 15%;
opacity: 0.5;
filter: alpha(opacity=50);
max-width: 50%;
display:none;
}
.contestName {
  padding-left: 35%;
  padding-top: 10%;
  font-size:3vw;
  text-align: center;
  text-shadow:
  -3px -3px 0 #000,
  3px -3px 0 #000,
  -3px 3px 0 #000,
  3px 3px 0 #000;
}
.artist {
  font-size:3.25vw;
  display: table-row-group;
}
.data{
  padding-bottom: 20%;
  align-self: baseline;
}